@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: outfit;
    font-weight: 400;
    --brancoPastelFont: #F5F5F5;
    --backgroundColor: #00003E;
    --defaultText: #808080;
    --focusText: #1D77FF;
    --padraoShadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    --padraoRadius: 10px
}

input {
    all: unset;
}

input {
    border: none;
    outline: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
}

button {
    all: unset;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    box-shadow: none;
}